{{ $pagelist := $.Scratch.Get "pages" }}
{{ if $pagelist }}
<div>
  {{ $pages := where $pagelist "Kind" "page" }}

  {{ $paginator := .Paginate (where $pages ".Params.exclude" "!=" "true") .Site.Params.paginate }}
    <div class="mt-8 grid grid-flow-row grid-cols-2 mx-4 md:grid-cols-3 md:mx-8 gap-4">
        {{ range $paginator.Pages }}
            <!--render a card-->
            {{partial "card.html" .}}
        {{ end }}
    </div>


  {{ if gt $paginator.TotalPages 1 }}
  <nav aria-label="Page navigation">
    <ul class="flex gap-2 justify-center mt-2">
      {{ if $paginator.HasPrev }}
      <li class="cursor-pointer rounded dark:text-gray-400 hover:bg-blue-400 hover:text-white dark:hover:text-white"><a class="px-3 py-1"
          href="{{ $paginator.Prev.URL }}" rel="prev" class="page-link">&laquo; Prev</a></li>
      {{ end }}
      {{ range $paginator.Pagers }}
      {{ if eq . $paginator }}
      <li class="cursor-pointer rounded bg-blue-500 text-white"><a class="px-3 py-1" href="{{ .URL }}"
          class="page-link">{{ .PageNumber }}</a></li>
      {{ else }}
      <li class="cursor-pointer rounded dark:text-gray-400 hover:bg-blue-400 hover:text-white dark:hover:text-white"><a class="px-3 py-1" href="{{ .URL }}"
          class="page-link">{{ .PageNumber }}</a></li>
      {{ end }}
      {{ end }}

      {{ if $paginator.HasNext }}
      <li class="cursor-pointer rounded dark:text-gray-400 hover:bg-blue-400 hover:text-white dark:hover:text-white"><a class="px-3 py-1"
          href="{{ $paginator.Next.URL }}" rel="next" class="page-link">Next &raquo;</a></li>
      {{ end }}
    </ul>
  </nav>
  {{ end }}
</div>
{{ end }}